{% extends "website/base.html" %}
{% block content %}

	<div>
		<h2>Select Package</h2>
		<p>The select element defines a drop-down list:</p>

		<form action="/action_page.php">
		  <select name="Package">
		    <option value="Standard">Standard</option>
		    <option value="Gold Standard">Gold_Standard</option>
		    <option value="Luxury Suite">Luxury_Suite</option>
		    <option value="Office">Office</option>
		  </select>
		  <br><br>
		  <input type="submit">
		</form>
	</div>

{% endblock content %}